@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body h1{
    font-weight: 300;
    margin: 20px 30px;
}
#site-title{
    font-family: 'Roboto',sans-serif;
    z-index: 4;
}

#main-header{
    border-bottom: 2px solid #000;
    width: 100%;
    background :rgba(225, 225, 225, 0.9) ;
   
  
    top: 0px;}
    #main-header::after{
        content:"";
        display: block;
        width: 50px;
        height: 40px;
        background:#000 ;
        position: absolute;
        margin-top: 20px;
        top: 0px;
        left:40px;
       

    }
#top-stories{
    width:1000px;
    margin:auto;
    margin-top: 20px;
}
article{
    max-width: 301px;
    display: inline-block;
    border:1px solid #000 ;
    padding: 10px ;
    box-shadow: 5px 5px 20px -1px rgba(0,0, 0,0.6);
}
article img{
    width: 100%;
    height: 100%;
}
.article-image{
    height : 200px;
    width: 100%;
    background-size:cover!important;
    background-position:center !important;
    

}


a{
    text-decoration: underline ;
}
p{
    text-align: justify;
}
a:hoveer{
    color: #8f8 !important;
}
.more-link{
    font-style: italic;
}
.my-input{
    display: block;
    width:100%;
    margin:10px;
  
    padding: 10px 20px;
    border-radius: 10px 20px 2px 20px;
    border: solid transparent;

}

.article-image
{ 
    height: 200px;
    width: 200px;
    border-radius: 100%;
        }
.my-input:focus{

    background: #d5ffc2;
    color: #0f8034;
    outline:none;
}
    
.article:active{

    opacity : 0.4;

}

.article-image
{ 
    height: 200px;
    width: 200px;
    border-radius: 50px;
        }



.my-text
{
    max-height: 200px;
    overflow:scroll;
     border-radius:2px solid #000;
}
.my-text
{
    max-height: 100%;
    overflow:scroll;
    overflow-x: hidden;
     border-radius: 2px solid #000;
     
}
article:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
   
   transition: 500ms;
   -webkit-transition: box-shadow 0.3s ease-in-out 0s;

}