body{
    background-color: lightblue;
}
body h1{
    font-weight: 300;
    margin: 20px 30px;
}
#main-header{
    border-bottom: 2px solid #000;
}
#top-stories{
    width:1000px;
    margin:auto;
    margin-top: 20px;
}
article{
    max-width: 301px;
    display: inline-block;
    border:1px solid #000 ;
    padding: 10px;
   

}
article img{
    width: 100%;
    image: 100%;
}
.article-image{
    height : 200px;
    width: 100%;
    background-size:cover!important;
    background-position:center !important;

}