@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: lightblue;
}
body h1{
    font-weight: 300;
    margin: 20px 30px;
}
#site-title{
    font-family: 'Roboto',sans-serif;
}

#main-header{
    border-bottom: 2px solid #000;
}
#top-stories{
    width:1000px;
    margin:auto;
    margin-top: 20px;
}
article{
    max-width: 301px;
    display: inline-block;
    border:1px solid #000 ;
    padding: 10px;
    box-shadow: 5px 5px 20px -1px rgba(0,0, 0,0.6);
}
article img{
    width: 100%;
    height: 100%;
}
.article-image{
    height : 200px;
    width: 100%;
    background-size:cover!important;
    background-position:center !important;

}
a{
    text-decoration: underline ;
}
p{
    text-align: justify;
}
a:hoveer{
    color: #8f8 !important;
}
.more-link{
    font-style: italic;
}
.my-input{
    display: block;
    width:100%;
    margin:10px;
  
    padding: 10px 20px;

}